body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK8saRIgGzlpyUCqHIxicN33PlB612sHHKZw&usqp=CAU');
    background-size: 100% 160%;
    backdrop-filter: blur(15px);
}
.main {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    margin: auto;
}
.buttons {
    width: 20%;
    height: 40px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.buttons > div {
    width: 25%;
    height: 12px;
    padding: 5%;
    padding-left: 10%;
    padding-top: 2%;
    align-items: center;
    background-color: white;
    border: 3px solid #abceda;
    border-radius: 30px;
    cursor: pointer;
}
#mute {
    /* display: none; */
    width: 25%;
    height: 12px;
    padding: 5%;
    padding-left: 10%;
    padding-top: 2%;
    align-items: center;
    background-color: white;
    border: 3px solid #abceda;
    border-radius: 30px;
    cursor: pointer;
}
#unmute {
    display: none;
    width: 25%;
    height: 12px;
    padding: 5%;
    padding-left: 10%;
    padding-top: 2%;
    align-items: center;
    background-color: white;
    border: 3px solid #abceda;
    border-radius: 30px;
    cursor: pointer;
}
.buttons > div:nth-child(2) {
    width: 30%;
    padding: 9%;
    padding-left: 15%;
    padding-top: 5%;
    border-radius: 35px;
    height: 30px;
}
#myCanvas {
    width: 98%;
    height: 95%;
    /* border: 1px solid black; */
    align-items: center;
    margin-left: 7px;
    margin-top: 20px;
    background-color: white;
}
#pause {
    display: none;
    width: 30%;
    padding: 9%;
    padding-left: 15%;
    padding-top: 5%;
    border-radius: 35px;
    height: 30px;
}
#play {
    /* display: none; */
    width: 30%;
    padding: 9%;
    padding-left: 15%;
    padding-top: 5%;
    border-radius: 35px;
    height: 30px;
}

.div1 {
    position: absolute;
    top: 55px;
    left: 9.5%;
    width: 9.5%;
    height: 27px;
    border-radius: 5px;
    background-color: #12d024;
}
.div2 {
    position: absolute;
    top: 30px;
    left: 24.1%;
    width: 9.5%;
    height: 27px;
    border-radius: 5px;
    background-color: #25dd8e;
}
.div3 {
    position: absolute;
    top: 55px;
    left: 69.5%;
    width: 70px;
    height: 27px;
    border-radius: 5px;
    background-color: #1900b8;
}
.div4 {
    position: absolute;
    top: 45px;
    left: 75.4%;
    z-index: 2;
    width: 170px;
    height: 27px;
    border-radius: 5px;
    background-color: #926766;
}
.div5 {
    position: absolute;
    top: 15px;
    left: 77.5%;
    width: 170px;
    height: 27px;
    border-radius: 5px;
    background-color: #68a445;
}
.div1 > .vl {
    border-left: 4px solid #12d025a9;
    height: 75px;
    width: 0.5px;
    position: absolute;
    left: 47%;
    margin-left: -3px;
    top: 25px;
}
.div2 > .vl {
    border-left: 4px solid #25dd8da8;
    height: 85px;
    width: 0.5px;
    position: absolute;
    left: 47%;
    margin-left: -3px;
    top: 25px;
}
.div3 > .vl {
    border-left: 4px solid #1900b89f;
    height: 60px;
    width: 0.5px;
    position: absolute;
    left: 47%;
    margin-left: -3px;
    top: 25px;
}
.div4 > .vl {
    border-left: 4px solid #926766a6;
    height: 80px;
    width: 0.5px;
    position: absolute;
    left: 37%;
    margin-left: -3px;
    top: 25px;
}
.div5 > .vl {
    border-left: 4px solid #68a445ad;
    height: 100px;
    width: 0.5px;
    position: absolute;
    left: 67%;
    margin-left: -3px;
    top: 25px;
}
.div1 > .dot {
    position: absolute;
    top: 80px;
    left: 50px;
    height: 20px;
    width: 20px;
    background-color: #18c029c2;
    border-radius: 50%;
    display: inline-block;
}
.div2 > .dot {
    position: absolute;
    top: 110px;
    left: 50px;
    height: 20px;
    width: 20px;
    background-color: #25dd8da8;
    border-radius: 50%;
    display: inline-block;
}
.div3 > .dot {
    position: absolute;
    top: 80px;
    left: 23px;
    height: 20px;
    width: 20px;
    background-color: #1900b8a1;
    border-radius: 50%;
    display: inline-block;
}
.div4 > .dot {
    position: absolute;
    top: 90px;
    left: 50px;
    height: 20px;
    width: 20px;
    background-color: #926766a9;
    border-radius: 50%;
    display: inline-block;
}
.div5 > .dot {
    position: absolute;
    top: 120px;
    left: 102px;
    height: 20px;
    width: 20px;
    background-color: #68a445a6;
    border-radius: 50%;
    display: inline-block;
}

@media (max-width: 1300px) {
    .buttons {
        width: 30%;
        height: 70px;
    }
    .div3 {
        z-index: 3;
    }
    .div1 > p,
    .div2 > p {
        font-size: 16px;
        text-align: center;
        margin-left: -15px;
    }
    .div1 > .dot {
        left: 40px;
    }
    .div2 > .dot {
        left: 40px;
    }
}
@media (max-width: 970px) {
    .buttons {
        width: 40%;
        height: 70px;
    }
    .div1 {
        width: 12%;
    }
    .div1 > .dot {
        left: 35px;
    }
    .div2 > .dot {
        left: 30px;
    }
}
@media (max-width: 700px) {
    .buttons {
        width: 55%;
        height: 70px;
    }
    .div1 > .dot {
        left: 25px;
    }
    .div2 > .dot {
        left: 20px;
    }
}
@media (max-width: 500px) {
    .buttons {
        width: 65%;
        height: 70px;
    }
    .div1 > .dot {
        left: 15px;
    }
    .div2 > .dot {
        left: 10px;
    }
}
@media (max-width: 300px) {
    .buttons {
        width: 85%;
        height: 70px;
    }
    .div1 > .dot {
        left: 10px;
    }
    .div2 > .dot {
        left: 5px;
    }
}
